#image_Gallery{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: space-evenly;
    font-size: 18px;
    text-align: center;
    color: black;
    border:2px solid #be758b;
    border-radius: 10px;
    width: fit-content;
    padding: 8px;
}
.imageBox{
    display: flex;
    flex-direction: column;
    background-color: #f3b2c4;
    border: 2px solid #be758b;
    border-radius: 4px;
    padding: 4px;
    margin: 6px;
    width: 200px;
    height: 500px;

}
.imageBox img{
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0;
    background-color: white;
}
.imageBox .text{
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}